*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}
body {
    background-color: black;
}
h1{
    text-align: center;
    /* color: aliceblue; */
    color: rgba(red, green, blue, alpha);
    padding: 20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.5;
}